<% talk = Talk.find_by(params[:id]) %>
<%= form_for([talk,comment,reply]) do |f| %>
  <% if reply.errors.any? %>
    <div id="error_explanation">
      <h2><%= reply.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% reply.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :talk_id %>
  <div class="field">
    <%= f.text_field :content, placeholder: "リプライ内容", class: "form-control"  %>
  </div>
  <div class="actions">
    <%= f.submit '返答する' %>
  </div>
<% end %>