<ul>
  <% replies.each do |reply| %>
    <% unless reply.id.nil? %>
      <li>
        <p class="left"><%= reply.content %> @<%= reply.user.name %></p>
        <% if current_user.id == reply.user.id %>
          <p class="right">
            <%= link_to '', edit_talk_reply_path(talk, reply), class: "fa fa-pencil-square-o fa-lg" %>
            <%= link_to '', talk_reply_path(talk, reply), class: "fa fa-trash-o fa-lg", method: :delete, remote: true, data: { confirm: '本当に削除していいですか？' } %>
          </p>
        <% else %>
          <p class="right">
            <%= link_to '', edit_talk_reply_path(talk, reply), class: "fa fa-reply fa-lg" %>
          </p>
        <% end %>
      </li>
    <% end %>
  <% end %>
</ul>
