<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :タスク名 %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :内容 %><br>
    <%= f.select :status, Task.statuses.keys.to_a, {}, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :対応期限 %><br>
    <%= f.date_select :due_date %>
  </div>
  
  <span class="picture">
    <%= f.file_field :picture %>
  </span>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
