<p id="notice"><%= notice %></p>

<h1>Listing Tasks</h1>

<table>
  <tbody>
    <% if Task.count == 0 %><%= 'There is No Task' %><% end %> 
    <% @tasks.each do |task| %>
      <tr>
        <td>
           <% if task.status == 'urgent' %>
             <div class="label label-danger" ><%='緊急'%></div>
           <% end %>
           <% if task.status == 'important' %>
             <div class="label label-warning"><%='重要'%></div>
           <% end %>
           <% if task.status == 'todo' %>
             <div class="label label-primary"><%='なるはや'%></div>
           <% end %>
           <% if task.status == 'someday' %>
             <div class="label label-default" ><%='いつか'%></div>
           <% end %>
        </td>
        <td><%= task.title %></td>
        <td>
            <% unless task.due_date.nil? %>
              <div class="label label-default">
                 対応期限 <%= task.due_date %>
              </div>
            <% end %>
        </td>
        </td>
        <td><%= task.event %></td>
        <td><%= task.done %></td>
        <td>&nbsp;<%= link_to '', task, class: "fa fa-file-text-o"%></td>
        <td>&thinsp;<%= link_to '', edit_task_path(task), class: "fa fa-pencil-square-o" %></td>
        <td>&thinsp;<%= link_to '', task, method: :delete, class: "fa fa-trash-o",data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</br>
<button type="button" class="btn btn-default">
  <%= link_to ' New Task', new_task_path, class: "fa fa-pencil"%>
</button>
