<p id="notice"><%= notice %></p>

<p>
  <td>
     <% if @task.status == '緊急' %>
       <div class="label label-danger" ><%='緊急'%></div>
     <% end %>
     <% if @task.status == '重要' %>
       <div class="label label-warning"><%='重要'%></div>
     <% end %>
     <% if @task.status == 'なるはや' %>
       <div class="label label-primary"><%='なるはや'%></div>
     <% end %>
     <% if @task.status == 'いつか' %>
       <div class="label label-default" ><%='いつか'%></div>
     <% end %>
  </td>
  &thinsp;<strong><%= @task.title %></strong></br>
  <div class="label label-default">
    対応期限
  </div>
  <% if @task.due_date.nil? %>
    &thinsp;なし
  <% else %>
    &thinsp;<%= @task.due_date %></td>
  <% end %>
</p>

<%= link_to '内容を編集', edit_task_path(@task) %> |
<%= link_to '一覧に戻る', tasks_path %>
