<p id="notice"><%= notice %></p>

<h1>トーク一覧</h1>

<table>

  <tbody>
    <% if Talk.count == 0 %><%= 'トークはありません' %><% end %> 
    <% @talks.each do |talk| %>
      <tr>
        <td>
          <% if talk.status == '緊急' %>
            <div class="label label-danger" ><%='緊急 '%></div>
          <% end %>
          <% if talk.status == '重要' %>
            <div class="label label-warning"><%='重要 '%></div>
          <% end %>
          <% if talk.status == '提案' %>
            <div class="label label-primary"><%='提案 '%></div>
          <% end %>
          <% if talk.status == '告知' %>
            <div class="label label-info"   ><%='告知 '%></div>
          <% end %>
          <% if talk.status == '解決' %>
            <div class="label label-success"><%='解決 '%></div>
          <% end %>
        </td>
        <td><%= talk.title %>&nbsp;</td>
        <td><% unless talk.due_date.nil? %>
              <div class="label label-default">
                 対応期限 <%= talk.due_date %>
              </div>
            <% end %>
        </td>
        <td><% unless talk.summaries.first.nil? %>
              <div class="label label-info"><%= '要約あり' %></div>
            <% end %>
        </td>
        <td>&nbsp;<%= link_to '', talk, class: "fa fa-file-text-o"%></td>
        <td>&thinsp;<%= link_to '', edit_talk_path(talk), class: "fa fa-pencil-square-o" %></td>
        <td>&thinsp;<%= link_to '', talk, method: :delete, class: "fa fa-trash-o",data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<button type="button" class="btn btn-default">
  <%= link_to ' 新規作成', new_talk_path, class: "fa fa-pencil"%>
</button>
