<p id="notice"><%= notice %></p>

<h1>Listing Talks</h1>

<table>

  <tbody>
    <% @talks.each do |talk| %>
      <tr>
        <td>[<%= talk.status %>]</td>
        <td><%= talk.title %></td>
        <td><% if talk.due_date.nil? %>
              [対応期日:なし]
            <% else %>
              [対応期日:<%= talk.due_date %>]</td>
            <% end %>
        <td><% if talk.summaries.nil? %>
              [要約なし]
            <% else %>
              [要約あり]<%= talk.summary %>
            <% end %>
        </td>
        <td><%= link_to '[詳細]', talk %></td>
        <td><%= link_to '[編集]', edit_talk_path(talk) %></td>
        <td><%= link_to '[削除]', talk, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Talk', new_talk_path %>
