<p id="notice"><%= notice %></p>

<p>
  <% if @talk.due_date.nil? %>
    <div class="label label-default">対応期限 なし&thinsp;</div>
  <% else %>
    <div class="label label-default">対応期限 <%= @talk.due_date %>&thinsp;</div>
  <% end %>
  <div class="label label-default">
    <%= link_to ' 編集', edit_talk_path(@talk), class: "fa fa-pencil-square-o", :style=>"color:white;" %>
  </div> 
  </br></br>
  <% if @talk.status == '緊急' %>
    <div class="label label-danger" ><%='緊急'%></div>
  <% end %>
  <% if @talk.status == '重要' %>
    <div class="label label-warning"><%='重要'%></div>
  <% end %>
  <% if @talk.status == '提案' %>
    <div class="label label-primary"><%='提案'%></div>
  <% end %>
  <% if @talk.status == '告知' %>
    <div class="label label-info"   ><%='告知'%></div>
  <% end %>
  <% if @talk.status == '解決' %>
    <div class="label label-success"><%='解決'%></div>
  <% end %>
  <%= @talk.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @talk.content %>
</p>

<p class="right">
  <strong>作成時間:</strong>
  <%= @talk.created_at.strftime("%y/%m/%d %p %l:%M") %>
</p>

<p class="right">
  <strong>更新時間:</strong>
  <%= @talk.updated_at.strftime("%y/%m/%d %p %l:%M") %>
</p>

<div id="comments_area">
  <%= render partial: 'comments/index', locals: { replies: @replies, comments: @comments, talk: @talk } %>
</div>
  <%= render partial: 'comments/form',  locals: { comment: @comment, talk: @talk } %>
</div>

<div id="summaries_area">
  <div class="label label-info"   >要約</div>
  <%= render partial: 'summaries/index',  locals: { summaries: @summaries, talk: @talk } %>
  </div>
  <% if @talk.summaries.nil? %>
    <%= render partial: 'summaries/form', locals: { summary: @summary,     talk: @talk } %>
  <% end %>
</div>

<%= link_to '戻る', talks_path %>
