<p>
  <td>
    <% if @talk.status == '緊急' %>
      <div class="label label-danger" ><%='緊急 '%></div>
    <% end %>
    <% if @talk.status == '重要' %>
      <div class="label label-warning"><%='重要 '%></div>
    <% end %>
    <% if @talk.status == '提案' %>
      <div class="label label-primary"><%='提案 '%></div>
    <% end %>
    <% if @talk.status == '告知' %>
      <div class="label label-info"   ><%='告知 '%></div>
    <% end %>
    <% if @talk.status == '解決' %>
      <div class="label label-success"><%='解決 '%></div>
    <% end %>
  </td>
  &thinsp;<strong><%= @talk.title %></strong></br>
  <div class="label label-default">
    対応期限
  </div>
  <% if @talk.due_date.nil? %>
    &thinsp;なし
  <% else %>
    &thinsp;<%= @talk.due_date %></td>
  <% end %>
</p>
<p>
   <div class="label label-default">
    内容
  </div>
  </br>
  <%= @talk.content %>
</p>

<p class="right">
  <strong>作成時間:</strong>
  <%= @talk.created_at.strftime("%y/%m/%d %p %l:%M") %>
</p>

<p class="right">
  <strong>更新時間:</strong>
  <%= @talk.updated_at.strftime("%y/%m/%d %p %l:%M") %>
</p>

<div><%= image_tag @talk.picture if @talk.picture? %></div></br>

<div id="comments_area">
  <%= render partial: 'comments/index', locals: { replies: @replies, comments: @comments, talk: @talk } %>
</div>
  <%= render partial: 'comments/form',  locals: { comment: @comment, talk: @talk } %>
</div>

<div id="summaries_area">
  <div class="label label-info">
    要約
  </div>
    <strong>
    <%= render partial: 'summaries/index',  locals: { summaries: @summaries, talk: @talk } %>
    </strong>
  </div>
  <% if @talk.summaries.first.id.nil? %>
    <%= render partial: 'summaries/form', locals: { summary: @summary,     talk: @talk } %>
  <% end %>
</div>
<% if current_user.id == @talk.user.id %> 
<%= link_to '内容を編集', edit_talk_path(@talk) %> |
<% end %>
<%= link_to '一覧に戻る', talks_path %>
