<h3>トーク一覧</h3>
　<% if Talk.count == 0 %><%= '話題はありません' %><% end %>
  </br>
  <% Talk.all.each do |talk| %>
    <td>
      <% if talk.status == '緊急' %>
        <div class="label label-danger" ><%='緊急'%></div>
      <% end %>
      <% if talk.status == '重要' %>
        <div class="label label-warning"><%='重要'%></div>
      <% end %>
      <% if talk.status == '提案' %>
        <div class="label label-primary"><%='提案'%></div>
      <% end %>
      <% if talk.status == '告知' %>
        <div class="label label-info"   ><%='告知'%></div>
      <% end %>
      <% if talk.status == '解決' %>
        <div class="label label-success"><%='解決'%></div>
      <% end %>
    </td>
    <td><%= talk.title %></td>
    <td>
      <% unless talk.due_date.nil? %>
        <div class="label label-default">
           対応期限 <%= talk.due_date %>
        </div>
      <% end %>
    </td>
    <td><div class="label label-info"><%= '要約あり' unless talk.summaries.first.nil? %></div></td>
    </br>
  <% end %>
<h3>タスク一覧</h3></br>
　<% if Task.count == 0 %><%= 'タスクはありません' %><% end %>
  </br>
  <% Task.all.each do |task| %>
    <td>
      <% if task.status == '緊急' %>
        <div class="label label-danger" ><%='緊急'%></div>
      <% end %>
      <% if task.status == '重要' %>
        <div class="label label-warning"><%='重要'%></div>
      <% end %>
      <% if task.status == 'なるはや' %>
        <div class="label label-primary"><%='なるはや'%></div>
      <% end %>
      <% if task.status == 'いつか' %>
        <div class="label label-default" ><%='いつか'%></div>
      <% end %>
    </td>
    <td><%= task.title %></td>
    <td>
      <% unless task.due_date.nil? %>
        <div class="label label-default">
           対応期限 <%= task.due_date %>
        </div>
      <% end %>
    </td>
    </br>
  <% end %>
<h3>メッセージ一覧</h3></br>
　<% if Message.all.find_by(user_id: current_user.id).nil? %><%= 'あなたが送信したメッセージはありません' %>
　<% else %>
    <% Message.all.each do |message| %>
      <% if message.user_id == current_user.id %>
        <td>to:<%= message.user.name %></td>
        <td><%= message.body %></td>
        </br>
      <% end %>
    <% end %>
  <% end %>
<h3>ユーザー一覧</h3></br>
  <% User.all.each do |user| %>
    <td><%= profile_img(user) %></td>
    <td><%= user.name %>
　  <% if user.id == current_user.id %><%= '← あなたのアカウントです' %><% end %>
    </td>
    </br>
  <% end %>